<%= "<p id=\"godModeNotice\">GOD MODE ACTIVE!</p>".html_safe if current_admin.god_mode? %>

<h2>Alpha SignUps</h2>
<ul>
  <% @alphas.each do |a| %>
    <li>
      <%= a.email %>
    </li>
  <% end %>
</ul>

<h2>All Movies</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rotten ID </th>
      <th>Studios</th>
      <th>Rotten Score</th>
      <th>Roeper Score</th>
      <th>Nominations</th>
      <th>Wins</th>
      <th>Actor Nominations</th>
      <th>Actor Wins</th>
      <th>Per Theater Avg</th>
      <th>Industry Notes</th>

    </tr>
  </thead>
<tbody>

  <% @movies.each do |m| %>
  <tr>
    <td>
      <%# m.title %>
    </td>
    <td><%= m.rotten_id %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</tbody>
</table>
