<% unless current_user %>
  <h2>Welcome to MovieBall!</h2>
  <p>Think you have what it takes to be the best producer? Sign up to begin!</p>
<% end %>

<% if current_user %>
  <h3>Welcome back!</h3>
  
  <% if has_memberships? %>
  <p>Your leagues:</p>
    <ul>
      <% @leagues.each do |league| %>
        <li><%= link_to league.name, league %> | <% if league.owner_id == current_user.id %> <b>Owner</b> <% elsif is_a_member?(league.id) %> Member <% end %>
        
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You are not a member of any leagues. <%= link_to "Create your own", new_league_path %>.</p>
  <% end %>
<% end %>

<% content_for :sidebar do %>
<% if current_user && @pending_invites %>
  <p>Pending League Invites</p>
  <% @league_invites.each do |l| %>
    <%= link_to l.name, l %>
  <% end %>
<% end %>
<% end #end sidebar content%>
