<h2>Welcome!</h2>

<%# if current_user.league %>
<ul>
  <% @leagues.each do |league| %>
    <li style="<% if league.owner_id == current_user.id %>background: #999<% end %>"><%= link_to league.name, league %> | <% if is_a_member?(league.id) %> YES! <% end %>
    
    </li>
  <% end %>
</ul>
<%# end %>